.company-page {
  display: block; // Sidebar вынесен в общий MainLayout
  min-height: 100%;
  background-color: $color-surface;

  @include element("content") {
    display: flex;
    flex-direction: column;
    gap: $spacing-3xl;
    max-width: 640px; // ограничение ширины контента по макету
    margin: 0 auto; // центрирование контента
  }

  @include element("loading") {
    @include flex-center;
    height: 100%;
  }

  @include element("header") {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include element("body") {
    display: grid;
    grid-template-columns: 1fr 360px; // Контент + правый столбец (контакт)
    gap: $spacing-3xl;
  }
}
