.companyPage {
  display: block; // Sidebar вынесен в общий MainLayout
  min-height: 100%;
  background-color: $color-surface;
}

.companyPage__content {
  display: flex;
  flex-direction: column;
  max-width: 640px; // ограничение ширины контента по макету
  margin: 0 auto; // центрирование контента
}

.companyPage__header {
  margin-bottom: $spacing-5xl;
}

.companyPage__loading {
  @include flex-center;
  height: 100%;
}

.companyPage__body {
  display: flex;
  flex-direction: column;
}

.companyPage__details {
  margin-bottom: $spacing-xl;
}

.companyPage__contacts {
  margin-bottom: $spacing-xl;
}

.companyPage__photos {
  margin-bottom: $spacing-xl;
}
